<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dra Dashboard</title>
  <style>
      body {
          display: flex;
          padding: 20px;
          box-sizing: border-box;
      }

      #app {
          max-width: 960px;
          width: 100%;
          margin: auto;
      }

      .item + .item {
          margin-top: 10px;
      }

      .flex-center {
          display: flex;
          align-items: center
      }

      .mr-10 {
          margin-right: 10px
      }

      .ml-10 {
          margin-right: 10px
      }

      .f-b {
          font-weight: bold;
      }

      .icon {
          font-size: 18px !important;
          font-weight: bold !important;
      }
  </style>
  <link rel="stylesheet" href="//unpkg.com/element-plus@1.0.2-beta.60/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
  <el-card class="item" shadow="never" v-for="e in list">
    <div class="flex-center">
      <div class="flex-center">
        <div class="mr-10">
          <el-icon class="el-icon-connection icon"></el-icon>
        </div>
        <div class="f-b mr-10">{{e.IP}}</div>
        <el-tag size="small" v-if="e.Mode === 1">传输模式</el-tag>
        <el-tag size="small" type="warning" v-else>指令模式</el-tag>
      </div>
      <div style="flex: 1"></div>
      <div class="flex-center ml-10">
        <div class="flex-center mr-10">
          <el-icon class="el-icon-top icon"></el-icon>
        </div>
        <div style="font-weight: bold">{{human(e.RDataLen)}}({{e.speedR}}/s)</div>
      </div>
      <div class="flex-center ml-10">
        <div class="flex-center mr-10">
          <el-icon class="el-icon-bottom icon"></el-icon>
        </div>
        <div class="f-b">{{human(e.SDataLen)}}({{e.speedS}}/s)</div>
      </div>
    </div>
    <div style="margin-top: 20px">
      <el-collapse >
        <el-collapse-item title="文件传输列表">
          <div v-for="file in e.FileList">
            <div>{{file.SSHUsername}}@{{file.SSHHost}}:{{file.FilePath}} [ 文件大小: {{human(file.FileLength)}} ]</div>
            <el-progress :percentage="percent(file)"></el-progress>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </el-card>
  <el-empty description="暂无连接" v-if="list.length === 0"></el-empty>
  <el-dialog
    title="连接 Dra Agent"
    v-model="show"
    width="30%"
    :before-close="handleClose">
    <el-input v-model="addr" placeholder="Agent IP:Port"></el-input>
    <template #footer>
    <span class="dialog-footer">
      <el-button type="primary" @click="connect">连接</el-button>
    </span>
    </template>
  </el-dialog>
</div>

<script src="//unpkg.com/vue@next"></script>
<script src="//www.unpkg.com/element-plus@1.0.2-beta.60/lib/index.full.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list: [],
                addr: "",
                show: false,
                time: new Date().getTime()
            }
        },
        methods: {
            human(size) {
                if (!size) return "-";
                const fileSize = Number(size)
                let num = 1024.00;
                if (fileSize < num)
                    return fileSize + "B";
                if (fileSize < Math.pow(num, 2))
                    return (fileSize / num).toFixed(2) + "KB";
                if (fileSize < Math.pow(num, 3))
                    return (fileSize / Math.pow(num, 2)).toFixed(2) + "MB";
                if (fileSize < Math.pow(num, 4))
                    return (fileSize / Math.pow(num, 3)).toFixed(2) + "G";
                return (fileSize / Math.pow(num, 4)).toFixed(2) + "T";
            },
            percent(file){
                return (file.ReceiveLength / file.FileLength * 100).toFixed(2)
            },
            refresh() {
                fetch(`//${this.addr}/dashboard`)
                    .then(response => {
                        return response.json()
                    })
                    .then(data => {
                        let t = new Date().getTime()
                        data.forEach((e,p)=>{
                            for (let i = 0; i < this.list.length; i++) {
                                if (e.Id === this.list[i].Id){
                                    data[p].speedR = this.human(((e.RDataLen - this.list[i].RDataLen) / (t - this.time)*1000).toFixed(2))
                                    data[p].speedS = this.human(((e.SDataLen - this.list[i].SDataLen) / (t - this.time)*1000).toFixed(2))
                                    break
                                }
                            }

                        })
                        this.time = t
                        this.list = data.sort((a,b)=>{
                            return a.CreatedAt - b.CreatedAt
                        })
                    })
            },
            connect() {
                this.show = false
                setInterval(this.refresh, 1000)
                localStorage.setItem("agent-addr", this.addr)
            }
        },
        mounted() {
            console.log("page init")
            this.addr = localStorage.getItem("agent-addr") || ''
            if (this.addr) {
                setInterval(this.refresh, 1000)
            } else {
                this.show = true
            }
        }
    })
    app.use(ElementPlus)
    app.mount('#app')

</script>
</body>
</html>